
<div class="loginbox">
        
    <h1>LOGIN</h1>
    <div>
        <p>Username</p>
        <input type="text" [formControl]="username" name="username" [(ngModel)]="user.username" placeholder="Enter Username" required >
        <div *ngIf="username.errors && (username.dirty || username.touched)"  class="alert alert-danger">
            <div [hidden]="!username.errors.required">Username is required</div>
        </div>
        <p>Password</p>
        <input type="password" [formControl]="password" name="" [(ngModel)]="user.password" placeholder="Enter Password" required >
        <div *ngIf="password.errors.required" class="alert alert-danger">
            <div [hidden]="!password.errors.required">Password is required</div>
        </div>
    
        <button (click)="onSubmit()">SUBMIT</button>
        <a href="#">Lost your password?</a><br>
        <a href="#">Don't have an account?</a>
    </div>
</div>
