<p>directive works!</p>
<h1>*ngIf Directive:</h1>
<br>


<div *ngIf="companyName; else elseBlock">
    technogrowth
</div>

<ng-template #elseBlock>
    Logipool
</ng-template>

<div *ngFor="let c of colors ; index as i">
    <h2>{{i+1}}{{c}}</h2>
</div>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">You picked red</div>
    <div *ngSwitchCase="'blue'">You picked blue</div>
    <div *ngSwitchCase="'green'">You picked green</div>
    <div *ngSwitchCase="'yellow'"> you picked yellow</div>
    <div *ngSwitchDefualt>Pick again</div>
</div>


<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">you picked red</div>
    <div *ngSwitchCase="'blue'">You picked blue</div>
    <div *ngSwitchDefualt>Pick again</div>
</div>
<div *ngFor="let c of colors ">
    <h2>{{c}}</h2>
</div>

<div *ngIf="company ; else xyz">
    techogrowth
</div>

<ng-template #xyz>
    Logipool
</ng-template>

<div *ngIf="company ; else xyz">
    technogrowth
</div>
<ng-template #xyw>
    Logipool
</ng-template>

<div *ngIf="company ; else xyz">

</div>
<ng-template #xyp>
    
</ng-template>

<div *ngIf="company ; else xyz">

</div>
<ng-template #xyx>

</ng-template>

<div *ngFor="let c of colors">
<h2>{{c}}</h2>
</div>

<div *ngIf="company ; else bbb">

</div>
<ng-template bbb>
    <h2>{{c}}</h2>
</ng-template>
<router-outlet></router-outlet>