<div class="rightpadding">
    <div class="toppadd">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Design Portland</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Festival</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Calender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Membership</a>
            </li>
            <button class="btn btn-success mybutton" type="submit">LOG IN</button>
        </ul>
    </div>

    <div class="wrapper toppadd">
        <div>
            <h1>Design Portlaned is all of us, made better together.</h1>
            <p>
                We’re the thread that weaves together the process, practice, and content of our city's diverse creative
                community.
                Because here, design is lasting.
                Evergreen. It is the thoughtful assembly of culture—a texture woven of people and perspectives pulled
                together by ambition.
                By action. Right here.
                sAnd throughout the year. A whole made greater by the sum of its many parts.
            </p>
            <button class="btn btn-success aboutus" type="submit">About Us</button>
        </div>
        <div>
            <img id="imagealg" src="../../../assets/Home_10.png">
        </div>
    </div>

    <div class="toppadd">
        <h1>
            Our Initiatives
        </h1>
    </div>

    <div class="gridlyt">
        <div>
            <h3>Festival</h3>
            <p class="toppadd">
                A spirited week of programming presented each year.
                Hundreds of independent events and open houses,
                conceived and hosted by Portland’s vital creative community.</p>

            <a class="nav-link" href="#">Plan</a>
        </div>
        <div>
            <h3>Community</h3>
            <p class="toppadd">
                A directory encompassing the multitude of talent behind Portland’s unique design culture and economy.
                Join to be visible in this vibrant community,
                and find other members by their area of expertise.
            </p>
            <a class="nav-link" href="#">Explore</a>
        </div>



    </div>
    <div class="gridlyt">
        <div>
            <h3>Stories</h3>
            <p class="toppadd">
                A spirited week of programming presented each year.
                Hundreds of independent events and open houses,
                conceived and hosted by Portland’s vital creative community.</p>

            <a class="nav-link" href="#">Plan</a>
        </div>
        <div>
            <h3>Calender</h3>
            <p class="toppadd">
                A directory encompassing the multitude of talent behind Portland’s unique design culture and economy.
                Join to be visible in this vibrant community,
                and find other members by their area of expertise.
            </p>
            <a class="nav-link" href="#">Explore</a>
        </div>



    </div>
    <div class="wrapper toppadd">
        <div class="middle">
            <h1>Membership</h1>
            <p>
                Membership in Design Portland sustains our shared community
                and ensures access to the most inspiring events,
                content, and people in the city.
            </p>
            <button class="btn btn-success aboutus" type="submit">Join Us</button>
        </div>
        <div>
            <img id="imagealg" src="../../../assets/Home_Membership@2x.png">
        </div>
    </div>
    <div>
        <h1>Latest News</h1>
    </div>
    <div class="quarter toppadd">

        <div>
            <img id="imgalign" src="../../../assets/FranBittakis-004.jpg">
        </div>
        <div>
            <h5>INTERVIEW</h5>
            <h2>Fran Bittakis</h2>
            <h5>Allyson Marrs</h5>
            <p>Not so surprisingly, Fran’s been
                working in social advocacy and justice
                since the late nineties, passionately
                threading that point of view into her work now.
                For her, it’s about community—building it,
                connecting it, and giving it a damn stage.</p>

        </div>



        <div>
            <img id="imagealg" src="../../../assets/COTL-3.jpg">
        </div>
        <div>
            <h5>INTERVIEW</h5>
            <h2>The Ultimate Project:Color Outside the Lines</h2>
            <h5>Allyson Marrs</h5>
        </div>



    </div>
</div>