<div class="toppadd">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Design Portland</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Festival</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Calender</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Community</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Stories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Membership</a>
        </li>
        <button class="btn btn-success mybutton" type="submit">LOG IN</button>
    </ul>
    </div>
    
    <div class="wrapper toppadd">
        <div>
    <h1>Design Portlaned is all of us, made better together.</h1>
       <p> 
           We’re the thread that weaves together the process, practice, and content of our city's diverse creative community.
           Because here, design is lasting. 
           Evergreen. It is the thoughtful assembly of culture—a texture woven of people and perspectives pulled together by ambition. 
           By action. Right here. 
           sAnd throughout the year. A whole made greater by the sum of its many parts.
        </p> 
    </div>
        <div >
    <img id="imagealg" src="../../../assets/Home_10.png">
        </div>
    </div>