<p>designportland works!</p>
<nav class="navbar navbar-expand-sm bg-light">

    <a class="navbar-brand" href="#">Design Portland</a>

    <!-- Links -->
    <ul  class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Festival</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Calender</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Community</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Stories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Membership</a>
        </li>
    </ul>
    <div class="nav1">
    <button id="nav1" class="btn btn-success mybutton" type="submit">LOG IN</button>
</div>
</nav>